*{
	margin: 0;
	padding:0;
}
.content{
	width:100%;
	padding-top: 10px;
}
.row{
	width:calc(100% - 20px);
	margin: 0 10px;
	overflow: hidden;
}
div[class*=box]{
	background: #eee;
	border: 1px solid #000;
	height: 50px;
	float: left;
	margin: 10px;

}
.box_md_4{
	width: calc(33.33% - 22px)
}
.box_md_3{
	width: calc(25% - 22px)
}
.box_md_1{
	width: calc(8.33%  - 22px)
}
.box_md_2{
	width: calc(16.67% - 22px)
}
.box_md_6{
	width: calc(50% - 22px)
}